/*
Vertigrid v0.0.1
author : @Lukyvj
vertigrid-responsive.scss
*/
$v:100vh;
$w:100vw;
$m:$v/100;
@mixin full {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}




@media all and (max-width: 50em){

  [class*="v-g-r"]{

  @include full();

  >div{
    vertical-align: top;
    float: left;
    &:last-child{float: right;}
    -webkit-box-shadow:inset 0 0 0 .2em #fff;
  }

  [class*="vg-1"]{
    width: $w;
    margin: $m 0;
  }
  [class*="vg-2"]{
    width: $w/2;
    margin: $m 0;
  }
  [class*="vg-3"]{
    width: $w/2;
    margin: $m 0;
  }
   [class*="vg-4"]{
    width: $w/4;
    margin: $m 0;
  }
   [class*="vg-5"]{
    width: $w/4;
    margin: $m 0;
  }
   [class*="vg-6"]{
    width: $w/4;
    margin: $m 0;
  }
    [class*="vg-7"]{
    width: $w/4;
    margin: $m 0;
  }
   [class*="vg-8"]{
    width: $w/6;
    margin: $m 0;
  }
}

}

@media all and (max-width: 40em){

  [class*="v-g-r"]{

  @include full();



  >div{
    vertical-align: top;
    float: left;
    &:last-child{float: right;}
    -webkit-box-shadow:inset 0 0 0 .2em #fff;
  }
  [class*="vg-1"]{
    width: $w;
    margin: $m 0;
  }

   [class*="vg-4"]{
    width: $w/2;
    margin: $m 0;
  }
   [class*="vg-5"]{
    width: $w/2;
    margin: $m 0;
  }
   [class*="vg-6"]{
    width: $w/2;
    margin: $m 0;
  }
    [class*="vg-7"]{
    width: $w/2;
    margin: $m 0;
  }
   [class*="vg-8"]{
    width: $w/4;
    margin: $m 0;
  }

}
}

@media all and (max-width: 22em){

  [class*="v-g-r"]{

  @include full();



  >div{
    vertical-align: top;
    float: left;
    &:last-child{float: right;}
    -webkit-box-shadow:inset 0 0 0 .2em #fff;
  }
  
   [class*="vg-2"]{
    width: $w/1;
    margin: $m 0;
  }
  [class*="vg-3"]{
    width: $w/1;
    margin: $m 0;
  }
  [class*="vg-4"]{
    width: $w/1;
    margin: $m 0;
  }

     [class*="vg-8"]{
    width: $w/2;
    margin: $m 0;
  }

}

}